In [1]:
a='krishna'

In [2]:
a='krishna'

In [3]:
b='kumar'

In [4]:
c=a+b

In [5]:
print(id(a))

1750535902384

In [6]:
print(id(b))

1750535903664

In [7]:
print(id(c))

1750536010416

In [8]:
a="komal"
b="kumari"

In [11]:
print(a+b)

komalkumari

In [14]:
c=a+b

In [15]:
print(c)

komalkumari

In [20]:
print(id(a,b,c))

TypeError: id() takes exactly one argument (3 given)

In [24]:
print(id(a),id(b),id(c))

1750536216816 1750535990832 1750541599088

In [22]:
print(id(c))

1750541599088

In [25]:
print(id(a))
print(id(b))

1750536216816
1750535990832

In [31]:
a=10
b=20
print(a,b)

10 20

In [32]:
a='nasir'
b='10'
print(a+b)

nasir10

In [35]:
A=20
N='nasir'
print(f'i am {N} and of {A} years old')

i am nasir and of 20 years old

In [39]:
name="kk"
course="python"
print(f"im {name} any my course is {course}")

im kk any my course is python

In [ ]:
name="kk"
course="python"
print(f"im {name} any my course is {course}")

In [41]:
name="kk"
course="python"
print("im {} any my course is {}".format(name,course))

im kk any my course is python

In [42]:
name="kk"
course="python"
print("im {} any my course is {}".format(course,name))

im python any my course is kk

In [43]:
name="kk"
course="python"
print("im {1} any my course is {0}".format(course,name))

im kk any my course is python

In [44]:
name="kk"
course="python"
print("im {0} any my course is {1}".format(course,name))

im python any my course is kk

In [45]:
name="BG Govind"
course="MCA"
print("i am {} and my course is {}".format(course,name))

i am MCA and my course is BG Govind

In [46]:
name="BG Govind"
course="MCA"
print("i am {1} and my course is {0}".format(course,name))

i am BG Govind and my course is MCA

In [48]:
name="BG Govind"
course="MCA"
print("i am {} and my course is {}".format(name,course))

i am BG Govind and my course is MCA

In [1]:
a='krishna'
a.capitalize()

'Krishna'

In [15]:
a='krishna'
print(a.capitalize())

Krishna

In [16]:
a.find('i')

2

In [17]:
a.find('n')

5

In [28]:
a.find('r')

1

In [30]:
a.find('r,n,a')

-1

In [31]:
a.find('a')

6

In [35]:
print(a.casefold())

krishna

In [36]:
b='123'
print(b.casefold())

123

In [39]:
b='123'
print(b.isdigit())

True

In [40]:
a='krishna'
print(a.isdigit())

False

In [41]:
a='nasir'
print(a.endswith('r'))

True

In [42]:
print(a.endswith('ir'))

True

In [43]:
print(a.endswith('a'))

False

In [54]:
b='i\tam\ta\tstudent'
print(b.expandtabs(8))

i       am      a       student